.logo {
  position: absolute;
  margin-top: 20px;
  margin-left: 25px;
  color: white;
  font-weight: 900;
  font-size: 50px;
  cursor: default;
}

.img {
  position: inline-block;
  float: right;
  filter: invert(1);
  margin-top: 30px;
  margin-right: 20px;
  transform: scale(0.8);
  opacity: 0.5;
}

.barContainer {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.copyContainer {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
}

.copy {
  color: white;
  padding-top: 15px;
  font-weight: 800;
  margin-bottom: 45px;
  font-size: 25px;
  letter-spacing: -0.5px;
}

.button {
  display: inline-block;
  background: #7fffd4;
  color: black;
  border: none;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  margin-left: 100px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-weight: 800;
  font-size: 15px;
  font-family: Montserrat;
  transition: 0.4s;
}

.button:hover {
  color: white;
  background-color: blue;
  transition: 0.4s;
}

.titleCopy {
  font-size: 65px;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.subtitleCopy {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.whiteBox {
  position: absolute;
  margin-top: 150px;
  margin-left: calc(12%);
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 125px;
  background-color: white;
  width: calc(75% - 10px);
  border-radius: 25px;
}

.carousel {
  width: 325px;
  position: absolute;
  margin-left: calc(62%);
  margin-top: 230px;
}

.carouselImage {
  width: 80%;
}

@media only screen and (max-width: 812px) {
  body {
    height: 1250px;
  }
  .titleCopy {
    font-size: 40px;
  }
  .whiteBox {
    margin-top: 125px;
    height: 750px;
    margin-left: calc(10%);
  }
  .carousel {
    width: 275px;
    margin-left: calc(13.5%);
    margin-top: 700px;
  }
  .barContainer {
    /* position: fixed; */
    position: fixed;
    bottom: 0;
  }
  .copyContainer {
    text-align: center;
  }
  .button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
}
